.contenido{
    padding: 15px;
    display: flex;
    row-gap: 15px;
    .contenido-cartas{
        padding: 15px;
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .contenido-cartas::-webkit-scrollbar{
        height: 10px;
    }
    .contenido-cartas::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #7303c0;
        background: -webkit-linear-gradient(to left,#7303c0, #03001e);
        background: linear-gradient(to left, #7303c0, #03001e);
    }
}