.contenido{
    padding: 15px;
    display: flex;
    row-gap: 15px;
    .contenido-cartas{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }
}